<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <title>
        <%= name %>
    </title>
</head>

<body class=<%= name.replace(/\s/g, '') %>
  

        <%- include('./partials/nav.ejs') %>
            <h1 class="characterName">
                <%= name %>
            </h1>
        <div class="iframeContainer">
            <iframe width="420" height="315" align="right"
                src=<%= video %>>
            </iframe>
        </div>
</body>

</html>
